body {
    background: #EFEFEF;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    margin: 0;
    padding:0;
}
ol, ul {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
hr {
    height: 0;
    border: none;
    border-top: 2px solid #dedede; 
}
.clearfix::after {
    content: ' ';
    display: block;
    clear: both
}
[data-x].offset {
  transform: translateY(100px);
}
[data-x] {
  transform: translateY(0px);
  transition: all 1s;
}

.topNavBar {
    color: #b7b7b7;
    padding: 20px 16px 20px 16px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.5s;   
}
.topNavBar.sticky {
    background: white;
    padding: 10px 16px;
    z-index: 1;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.35);
    color: #3d4451;
}
.topNavBar > nav {
    padding-top: 7px;
}
.topNavBar > nav >ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.topNavBar > nav > ul >li {
    float: left;
    margin: 0 17px 0 17px;
    position: relative;
}

.topNavBar > nav > ul >li > a { 
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    padding: 5px 0 5px 0;
    display: block;
    position: relative;
}
.topNavBar > nav > ul > li.active > a::after,
.topNavBar > nav > ul > li.highlight > a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e6567e;
    height: 3px;
    animation: menuSlide 0.4s;
}
@keyframes menuSlide {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
}
.topNavBar .submenu {
   display: none;
   position: absolute; 
   padding: 5px 10px;
   right: 0;
   top: 100%;
   background: white;
   color: #3d4451;
   box-shadow: 0 0 5px rgba(0,0,0,0.5)
}
.topNavBar .submenu > li {
    white-space: nowrap;
}
.topNavBar li.active > .submenu {
  display: block;
  animation: submenuSlide 0.3s
}
@keyframes submenuSlide {
  0% {
     margin-right: 100%; /*父元素的100%*/
  }
  100% {
    margin-right: 0%;
  }
}
.topNavBar .logo {
    font-size: 24px;
    font-family: 'Arial Black'
}
.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card {
    color: #9a9da2;
}
.banner {
    height: 515px;
    background-image: url(../img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;

}
.banner .mask {
    height: 515px;
    background-color: rgba(0,0,0,0.7);
}
.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}
.userCard .welcome {
    background-color: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    position: relative;
}
.userCard .welcome .triangle {
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-left-color: #e6686a;
    border-top: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.userCard .picture {
    float: left;
}
.userCard .text {
    float: left;
    padding-left: 65px;
    width: 470px;
}
.userCard .text h1 {
    margin-top: 36px;
}
.userCard .pictureAndText  {
    padding: 50px;
}
.userCard .text hr {
    margin: 20px 0px;
}
.userCard dl dt, .userCard dl dd {
    float: left;
    padding: 5px 0px;
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}
.userCard .media {
    background: #e6686a;
    text-align: center;
}
.userCard .media > a {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard .media > a:hover {
  background: #D05D60;
}
.userCard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}
body > main {
  margin-top: -340px;
}
body > main .download-wrapper {
  text-align: center;
}
body> main .downloadcv {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  padding: 16px 55px;
  border: 1px solid #cdcfd1;
  background: #EFEFEF;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.2s;
}
body > main .downloadcv:hover {
  box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);
}
body > main .selfIntroduction {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.8;
  font-size: 18px;
}
section.skills,
section.portfolio,
section.message {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
section.skills > h2, 
section.portfolio > h2, 
section.message > h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
section.message > ol {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #DDD;
}
section.message > ol > li {
  padding: 16px;
  border-bottom: 1px solid #DDD;
}
section.skills > h3 {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
section.skills > ol {
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  padding: 42px 50px 0;
  margin-top: 30px;
}
section.skills > ol > li {
  width: 47%;
  box-sizing: border-box;
}
section.skills > ol > li:nth-child(odd) {
  float: left;
}
section.skills > ol > li:nth-child(even) {
  float: right;
}
section.skills .progressBar {
  height: 5px;
  background: #fae1e1;
  border-radius: 2px;
  margin: 4px 0 40px;
  overflow: hidden;
}
section.skills .progress {
  height: 100%;
  width: 70%;
  background: #e6686a;
  border-radius: 2px;
  transform: translateX(0);
  transition: all 1s;
}
section.skills.offset .progress {
  transform: translateX(-100%);
}
section.portfolio {
  text-align: center;
  margin-bottom: 100px;
}
section.portfolio > nav {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
  margin-bottom: 28px;
}
section.portfolio > nav > ol {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
section.portfolio > nav > ol > li {
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
section.portfolio > nav > ol > li:nth-child(1) {
  margin-left: 0;
}
section.portfolio > nav .bar {
  height: 5px;
  background: white;
  margin-top: 5px;
  border-radius: 2px;
}
section.portfolio > nav .bar-inner {
  height: 100%;
  background: #e6686a;
  border-radius: 2px;
  transition: all 0.2s;
}
section.portfolio > nav .bar.state-1 .bar-inner {
  margin-left: 0;
  width: 50px;
}
section.portfolio > nav .bar.state-2 .bar-inner {
  margin-left: 65px;
  width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner {
  margin-left: 150px;
  width: 100px;
}
section.portfolio .works {
  position: relative;
}
section.portfolio .works > .big,
section.portfolio .works > .small {
  position: absolute;
}