body {
    background: black;
    color: white;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: ' ';
    display: block;
    clear: both
}
.topNavBar {
    padding: 20px 16px 20px 16px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;   
}
.topNavBar > nav {
    padding-top: 7px;
}
.topNavBar > nav >ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.topNavBar > nav > ul >li {
    float: left;
    margin: 0 17px 0 17px;
}

.topNavBar > nav > ul >li > a { 
    font-size: 12px;
    color: #b7b7b7;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    padding: 5px 0 5px 0;
    display: block;
}
.topNavBar > nav > ul >li> a:hover {
    border-bottom: 3px solid #e06567
}
.topNavBar .logo {
    font-size: 24px;
    font-family: 'Arial Black'
}
.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .Card {
    color: #9a9da2;
}
.banner {
    height: 515px;
    background-image: url(../img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;

}
.banner .mask {
    height: 515px;
    background-color: rgba(0,0,0,0.7);
}